# Population decline analysis

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pop= pd.read_csv("Total Births, Deaths and Marriages Registered.csv")
pop.head()

        Statistic Label Quarter  State    UNIT   VALUE
0  Marriages Registered  1960Q1  State  Number  2987.0
1  Marriages Registered  1960Q2  State  Number  3501.0
2  Marriages Registered  1960Q3  State  Number  5900.0
3  Marriages Registered  1960Q4  State  Number  3106.0
4  Marriages Registered  1961Q1  State  Number  2179.0

In other to explore population declin hypothesis in ireland i consulted with domain knowledgible professionals
Populkation of married couples in ireland does not have a direct corrolation wirth population declin or increase according to domain knowledge. Because not all married people decide to have offsprings, some adopt and some where unable to have offsprings for biological r3easons. Thus is why i decided to drip the marriage column in the popularion projevt.

In [3]:
pop['Married'] = pop['VALUE'][pop['Statistic Label']=='Marriages Registered']

In [4]:
pop.head()

        Statistic Label Quarter  State    UNIT   VALUE  Married
0  Marriages Registered  1960Q1  State  Number  2987.0   2987.0
1  Marriages Registered  1960Q2  State  Number  3501.0   3501.0
2  Marriages Registered  1960Q3  State  Number  5900.0   5900.0
3  Marriages Registered  1960Q4  State  Number  3106.0   3106.0
4  Marriages Registered  1961Q1  State  Number  2179.0   2179.0

In [14]:
pop.shape

(4554, 12)

In [5]:
pop['Statistic Label'].unique()

array(['Marriages Registered',
       'Marriage Rate Registered per 1000 Estimated Population',
       'Deaths Registered',
       'Death Rate Registered per 1000 Estimated Population',
       'Deaths of Infants under 1 Year Registered per 1000 Births',
       'Births Registered',
       'Birth Rate Registered per 1000 Estimated Population',
       'Opposite sex marriages', 'Same sex marriages',
       'Civil partnerships', 'Births registered that were first births',
       'Births registered outside marriage', 'Opposite sex marriage rate',
       'Same sex marriage rate', 'Civil partnership marriage rate',
       'Percentage of first births registered',
       'Percentage of births registered outside marriage',
       'Average age of mothers giving birth'], dtype=object)

In [17]:
pop['Reg_Death'] = pop['VALUE'][pop['Statistic Label']=='Deaths Registered']

In [18]:
pop['Rate_Death/1000'] = pop['VALUE'][pop['Statistic Label']=='Death Rate Registered per 1000 Estimated Population']

In [19]:
pop['Reg_inf_Death/1000'] = pop['VALUE'][pop['Statistic Label']=='Deaths of Infants under 1 Year Registered per 1000 Births']

In [20]:
pop['Reg_Birth'] = pop['VALUE'][pop['Statistic Label']=='Births Registered']

In [21]:
pop['B_outsideMarriage'] = pop['VALUE'][pop['Statistic Label']=='Percentage of births registered outside marriage']

In [22]:
pop['Mothers_age'] = pop['VALUE'][pop['Statistic Label']== 'Average age of mothers giving birth']

In [23]:
pop['CV_P_M'] = pop['VALUE'][pop['Statistic Label']== 'Civil partnership marriage rate']

In [24]:
pop['Rate_marriage/1000'] = pop['VALUE'][pop['Statistic Label']== 'Marriage Rate Registered per 1000 Estimated Population']

In [25]:
pop.head()

,Statistic Label,Quarter,State,UNIT,VALUE,Married,Death,Birth,B_outsideMarriage,Reg_Death/1000,Reg_inf_Death/1000,Mothers_age,CV_P_M,Reg_Death,Rate_Death/1000,Reg_Birth,Rate_marriage/1000
0,Marriages Registered,1960Q1,State,Number,2987.0,2987.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Marriages Registered,1960Q2,State,Number,3501.0,3501.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Marriages Registered,1960Q3,State,Number,5900.0,5900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Marriages Registered,1960Q4,State,Number,3106.0,3106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Marriages Registered,1961Q1,State,Number,2179.0,2179.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
pop['Death'].isnull().sum()

4301

In [27]:
pop['Death'].shape

(4554,)

In [28]:
pop.isnull().sum()

Statistic Label          0
Quarter                  0
State                    0
UNIT                     0
VALUE                 2728
Married               4301
Death                 4301
Birth                 4301
B_outsideMarriage     4549
Reg_Death/1000        4301
Reg_inf_Death/1000    4301
Mothers_age           4549
CV_P_M                4549
Reg_Death             4301
Rate_Death/1000       4301
Reg_Birth             4301
Rate_marriage/1000    4301
dtype: int64